* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.outer {
    width: 300px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.remove {
    display: none;
}